@import '../../shared.scss';

.container {
    cursor: pointer;
    max-height: 896px;
    display: flex;
    justify-content: center;
    img {
        object-fit: cover;
        object-position: top;
        max-width: 100%;
    }
}