@import '../../shared.scss';

.censorship {
    color: black;
    background-color: black;
    white-space:nowrap;
    border:1px solid black;
}

.exposed {
    line-height: 1.4;
    height: 95px;
    p {
        font-weight: bold;
        margin: 0;
    }
}

.brainwashing {
    line-height: 1.4;
    .corruption {
        font-weight: 900;
        margin-bottom: 10px;
    }
    p {
        margin-top: 0;
        font-weight: initial;
    }
}

.criminals {
    height: 82px;
    width: 1024px;
}

.allseingeye {
    line-height: 1.4;
    position: relative;
}

.propaganda {
    position: absolute;
    overflow-y: hidden;
    height: 95px;
}

.control {
    float: left;
    margin-left: 5px;
}

.deception {
    position: absolute;
    margin-top: 15px;
}

.manipulation {
    transform: translateY(-15px);
}

.secrets {
    margin-left: 10px;
}

.hiddenTruth {
    display: none;
}