.headerContainer {
    max-width: 340px;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    
}

.subtitle {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 10px 33px 25px 33px;
    > span {
        color: #909090;
    }
}

.menuContainer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 0 38px;
    .menuTitle {
        cursor: pointer;
        font-size: 20px;
        font-weight: bold;
    }
}