@import '../../shared.scss';

.imageContainer {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    @include tablet-small {
        flex-flow: row nowrap;
    }
}

.primaryImageContainer {
    width: 100%;
    margin-right: 0;
    @include tablet {
        min-width: 340px;
    }
    @include tablet-small {
        margin-right: 10px;
    }
    .onlyImage & {
        margin-right: 0;
    }
}

.secondaryImageContainer {
    display: flex;
    width: 100%;
    > div:nth-of-type(2) {
        margin-left: 10px;
    }
    @include tablet-small {
        width: initial;
    }
    .onlySecondary & {
        > div {
            margin-left: 10px;
        }
        > div:first-of-type{
            margin-left: 0;
        }
    }
}

.tinyImageContainer {
    display: flex;
    flex-flow: column nowrap;
}