@import '../../shared.scss';

.container {
    display: flex;
    flex-flow: row wrap;
    @include tablet-small {
        flex-flow: row nowrap;
    }
}

.primaryImageContainer {
    width: 100%;
    @include tablet {
        min-width: 340px;
    }
}

.imageContainer {
    width: 100%;
    @include tablet-small {
        margin-left: 10px;
    }
}

.secondaryImageContainer {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin-right: 10px;
    flex: 1 100%;
}

.tertiaryImageContainer {    
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    margin-right: 10px;
    flex: 1 100%;
    :nth-child(2) {
        margin-left: 10px;
    }
}

.tertiaryImage {
    flex: 1 100%;
}