@import './shared.scss';

html {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    height: 100%;
}

body {
    height: 100%;
    overflow-y: scroll;
    margin: 0;
}

:global(#app) {
    height: 100%;
}

:global(*) {
    box-sizing: border-box;
}

:global(#router) {
    padding-bottom: 50px;
    background-color: #E0E0E0;
    min-height: 100%;
}

:global(.illuminatiBG) {
    background-image: url('../resources/maxresdefault_invert.jpg');
}

:global(.container) {
    background-color: white;
    width: 100%;
    margin: auto;
    padding: 1px 0;
    @include desktop {
        border-radius: 5px;
        width: 980px;
        box-shadow: 2px 2px 4px rgba(121, 121, 121, .5);
    }
}

@mixin viewContainer {
    margin: 30px 18px 45px 18px;
    @include tablet {
        margin: 30px auto 50px auto;
    }
}

:global(.viewContainer) {
    @include viewContainer();
    max-width: $max-width;
}

:global(.viewContainerGrid) {
    @include viewContainer();
    display: flex; // ie fallback for grid
    justify-content: space-around;
    flex-flow: row wrap;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    justify-items: center;
    grid-gap: 20px 10px;
    max-width: 768px;
}

:global(.workTitleContainer) {
    margin-bottom: 35px;
}

:global(.workTitle) {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

:global(.workSubtitle) {
    font-size: 16px;
    padding-bottom: 10px;
    font-weight: bold;
}

:global(.workPageContainer) {
    margin-bottom: 30px;
}

:global(.toolsContainer) {
    display: flex;
}

:global(.paragraphContainer) {
    line-height: 1.4;
    p {
        margin-top: 0;
        span {
            font-weight: 500;
        }
    }
}

:global(.workBottomContainer) {
    margin-top: 35px;
}