@import './shared.scss';

html {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    height: 100%;
}

body {
    height: 100%;
    overflow-y: scroll;
    margin: 0;
}

:global(#app) {
    height: 100%;
}

:global(*) {
    box-sizing: border-box;
}

:global(#router) {
    background-color: white;
    min-height: 100%;
    padding: 0 16px 40px 16px;
    overflow: hidden;
}

:global(.container) {
    background-color: white;
    padding: 1px 0;
    @include defaultContainer;
}

@mixin viewContainer {
    @include tablet {
        margin: 0 auto 50px auto;
    }
}

:global(.viewContainer) {
    @include viewContainer();
    max-width: $max-width;
}

:global(.viewContainerGrid) {
    @include viewContainer();
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 90px;
    @include tablet {
        grid-template-columns: 1fr 1fr;
        margin-bottom: 90px;
    }
    justify-items: center;
    grid-gap: 16px;
    max-width: 635px;
}

:global(.workTitleContainer) {
    margin-bottom: 35px;
}

:global(.workTitle) {
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 10px;
}

:global(.workSubtitle) {
    font-size: 24px;
    padding-bottom: 8px;
    font-weight: bold;
}

:global(.workPageContainer) {
    margin-bottom: 32px;
}

:global(.toolsContainer) {
    display: flex;
}

:global(.paragraphContainer) {
    line-height: 1.4;
    p {
        margin-top: 0;
        margin-bottom: 8px;
        span {
            font-weight: bold;
        }
    }
}